
{% extends 'Website/layout.html' %}
{% load static  %}

{% block content %}

 <br><h1>Your Clothes, Our Brand</h1>
 <br>

 
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente saepe repudiandae similique dolorem. Modi nemo harum labore inventore ad similique suscipit a porro consequuntur molestias molestiae id pariatur, temporibus doloremque voluptatum ipsa delectus soluta quaerat cupiditate! Sit voluptatibus quis, omnis hic aut quo a est itaque reiciendis. Atque, qui eum voluptas sapiente vero libero, laborum dolore quam a pariatur dolor sint eaque, fugit non. Accusantium, incidunt minima aliquid sapiente repudiandae eligendi deserunt sit accusamus laborum maiores tempore voluptas, non velit aut quia, quo consequatur veritatis magni fugit dolorum. Esse voluptatem sunt accusantium voluptate nostrum non numquam recusandae vel iure! Harum!</p>
 <img src= "{% static 'Images/clothing2.jpg' %}"><a href="http://127.0.0.1:8000/user/jeans"> <button type="button"> Buy your Jeans Now </button> </a>
 <img src= "{% static 'Images/clothes1.jpg' %}">
 <a href="http://127.0.0.1:8000/user/sweaters"><button type="button"> Buy your Sweater Now </button></a><br> <br>
 <h1>Luxury is all yours !</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolorem optio sint dolorum suscipit et exercitationem architecto incidunt at commodi quam nisi sed odit, adipisci atque ea, necessitatibus quas nam consectetur, sit ipsam quae esse? Dicta sit, voluptatem culpa blanditiis veniam quo quidem! Corrupti ipsa voluptatibus maiores ab excepturi eligendi et placeat ad tempora itaque quo possimus ipsum numquam qui libero at laborum veniam dolor eaque ratione, provident rerum nobis, laudantium soluta? Numquam cumque ea quo exercitationem ratione dignissimos cupiditate necessitatibus, voluptas eveniet consectetur quod velit eum maxime ex saepe voluptatum rerum facere veniam aliquid beatae asperiores, excepturi facilis. Explicabo.</p>
 <img src= "{% static 'Images/clothing4.jpg' %}"> <a href="http://127.0.0.1:8000/user/tshirts"><button type="button"> Buy your Tshirts Now </button></a> <br> <br>
 <h1>Jackets,Bagpacks and Other Accessories </h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta expedita iusto error incidunt aspernatur mollitia veritatis est, soluta magni ab vero odit a, fugit dignissimos placeat ullam voluptate eveniet corrupti quam dolores nisi deleniti eius sequi nam? Ducimus ad, quaerat fugiat tenetur necessitatibus, quidem quis a illum, recusandae possimus repudiandae nisi voluptatem aspernatur vero corrupti similique itaque delectus. Dolor laborum, esse, maiores repudiandae libero minima iste architecto est neque perferendis sint necessitatibus voluptatibus porro rerum in eaque unde incidunt adipisci minus saepe? Culpa est repellendus omnis ratione distinctio cupiditate tenetur consequuntur aperiam sed illum. Nostrum omnis officiis ducimus repellendus nesciunt!</p>
 <img src= "{% static 'Images/clothing3.jpg' %}">
 <a href="http://127.0.0.1:8000/user/jacketsandbagpacks"><button type="button"> Buy your Jacket and Bagpacks Now </button></a>
 <a href="http://127.0.0.1:8000/user/otheraccessories"><button type="button"> Buy Other Accessories</button></a>

 

 {% endblock %}